<ng-container *ngIf="data$ | async as data; else loading" [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" autocomplete="off">
    <mat-error
      *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
      Name is a required field
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Species
    </mat-label>

    <mat-select formControlName="species" (opened)="onSpeciesSelectOpened()">
      <div class="mat-option"
           style="position: sticky; top: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.12); background: white; z-index: 1;">
        <input type="text"
               placeholder="Search"
               matInput
               autocomplete="off"
               #speciesSearch
               formControlName="speciesFilter">
      </div>

      <mat-option *ngFor="let species of filteredSpecies$ | async; trackBy: speciesTrackBy" [value]="species">
        {{species.name}}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="form.controls['species'].invalid && (form.controls['species'].dirty || form.controls['species'].touched)">
      Species is a required field
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Birthday</mat-label>
    <input matInput formControlName="birthday" [max]="maxDate" [min]="minDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year"></mat-datepicker>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description" type="text" autocomplete="off">
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Favorite Food
    </mat-label>
    <!--      <mat-select multiple (selectionChange)="onChange()" formControlName="favoriteFood">-->
    <mat-select multiple formControlName="favoriteFood">
      <mat-option *ngFor="let f of data[1]; trackBy: favoriteFoodTrackBy" [value]="f">
        {{f.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<ng-template #loading>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
