<app-layout-default class="animals">
  <p>animals works!</p>
  <ng-container *ngIf="animals$ | async as animals; else loading">

    <ng-container *ngIf="animals.length > 0; else noItems">
      <app-listing>
        <div *ngFor="let animal of animals">
          <app-animal [animal]="animal"></app-animal>
        </div>
      </app-listing>
    </ng-container>

    <ng-template #noItems>
      No Elements found!
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <app-loading-indicator data-testid="loading"></app-loading-indicator>
  </ng-template>

  <button mat-fab (click)="openDialog()" data-testid="add">
    <mat-icon>add</mat-icon>
  </button>
</app-layout-default>
