<mat-toolbar class="default-navigation">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <a
    routerLink="/"
    #people="routerLinkActive"
    mat-button
    routerLinkActive="active-link"
    [class]="people.isActive ? 'mat-primary' : ''"
    [routerLinkActiveOptions]="{ exact: true }">
    People
  </a>
  <a
    routerLink="/animals"
    #animals="routerLinkActive"
    mat-button
    routerLinkActive="active-link"
    [class]="animals.isActive ? 'mat-primary' : ''"
  >
    Animals
  </a>
  <a
    routerLink="/notice"
    #notice="routerLinkActive"
    mat-button
    routerLinkActive="active-link"
    [class]="notice.isActive ? 'mat-primary' : ''"
    [routerLinkActiveOptions]="{ exact: true }">
    Notice
  </a>
</mat-toolbar>
