<app-layout-default class="animal-detail">
  <ng-container *ngIf="animal$ | async as animal; else loading">
    <mat-card class="animal--information">
      <mat-card-title>{{animal.name}} - {{animal.species.name}} </mat-card-title>
      <mat-card-subtitle *ngIf="animal.description">{{animal.description}}</mat-card-subtitle>
      <mat-card-content>
        <span *ngFor="let food of animal.favoriteFood">{{food.name}}, </span>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #loading>
    <app-loading-indicator></app-loading-indicator>
  </ng-template>
</app-layout-default>
