<app-layout-default class="people">
  <ng-container *ngIf="people$ | async as people; else loading">

    <ng-container *ngIf="people.length > 0; else noItems">
      <app-listing>
        <app-person
          *ngFor="let person of people"
          [person]="person"></app-person>
      </app-listing>
    </ng-container>

    <ng-template #noItems>
      No Elements found!
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <app-loading-indicator></app-loading-indicator>
  </ng-template>
</app-layout-default>
