<h2 mat-dialog-title>{{title}}</h2>

<ng-container>
  <mat-dialog-content>
    <app-animal-form [edit]="edit" (submitted)="onSubmitted($event)" (saved)="onSaved($event)"
                               (formStateChanged)="onFormStateChanged($event)"></app-animal-form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-flat-button (click)="close()">Close</button>
    <button mat-button mat-flat-button color="primary" (click)="save()" [disabled]="!isFormValid">
      <div *ngIf="!isSubmitting">Save</div>
      <div *ngIf="isSubmitting" style="padding: 8px;">
        <app-loading-indicator [diameter]="16"></app-loading-indicator>
      </div>
    </button>
  </mat-dialog-actions>
</ng-container>
