<app-layout-minimal class="notice">
  <mat-card>
    <mat-card-title>Notice</mat-card-title>
    <mat-card-subtitle>This page is just an example</mat-card-subtitle>
    <mat-card-content>
      <p>notice works!</p>
      <a (click)="navigateBack()" mat-stroked-button>Back</a>
    </mat-card-content>
  </mat-card>
</app-layout-minimal>

