<mat-card>
  <mat-card-header>
    <mat-card-title>{{ fullname | truncate: 12 }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="person.picture.large"
    [alt]="'Picture of ' + person.name.first + ' ' + person.name.last"
    loading="lazy" />
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
