<mat-card class="animal">
  <mat-card-title>{{animal.name}} - {{animal.species.name}} </mat-card-title>
  <mat-card-subtitle *ngIf="animal.description">{{animal.description}}</mat-card-subtitle>
  <mat-card-content>
    <span *ngFor="let food of animal.favoriteFood">{{food.name}}, </span>

    <div class="actions">
      <a (click)="update()" mat-stroked-button color="primary" [disabled]="isPerformingAction">Update</a>
      <a (click)="delete()" mat-stroked-button color="primary" [disabled]="isPerformingAction">
        <div *ngIf="!isDeleting">Delete</div>
        <div *ngIf="isDeleting" style="padding: 8px;">
          <app-loading-indicator [diameter]="16"></app-loading-indicator>
        </div>
      </a>
      <a [routerLink]="animal.id" mat-stroked-button color="primary" [disabled]="isPerformingAction">More</a>
    </div>
  </mat-card-content>
</mat-card>

