@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
      ),
    )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button.mat-fab {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  .mat-button-disabled & {
    stroke: rgba(0, 0, 0, 0.26);
  }
}
